{% block gce_serial_logs_check_failure_reason %}
Detected anomalies in serial logs indicative of issues affecting
the VM's guest or application functionality.
{% endblock gce_serial_logs_check_failure_reason %}

{% block gce_serial_logs_check_failure_remediation %}
Please refer to our detailed guide to connect to the VM to further
diagnose the issue:
Linux: https://cloud.google.com/compute/docs/connect/standard-ssh
Windows:
https://cloud.google.com/compute/docs/instances/connecting-to-windows
https://cloud.google.com/compute/docs/instances/connecting-to-sac
https://cloud.google.com/compute/docs/connect/windows-ssh
https://cloud.google.com/compute/docs/instances/windows/connecting-powershell
{% endblock gce_serial_logs_check_failure_remediation %}

{% block gce_serial_logs_check_success_reason %}
Serial logs confirm the VM is operating within normal parameters,
with no anomalies detected
{% endblock gce_serial_logs_check_success_reason %}

{% block gce_serial_logs_check_uncertain_reason %}
Unable to find sufficient serial log data for a conclusive analysis.
This may limit our ability to detect specific issues.
{% endblock gce_serial_logs_check_uncertain_reason %}

{% block gce_serial_logs_check_uncertain_remediation %}
Consider enabling more detailed logging if disabled or
turn on the VM if shut down.
Review our troubleshooting documentation for guidance on common issues with Serial logs
https://cloud.google.com/compute/docs/troubleshooting/viewing-serial-port-output
https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-using-serial-console
{% endblock gce_serial_logs_check_uncertain_remediation %}

{% block gce_serial_logs_check_skipped_reason %}
Skipped serial log analysis due to the absence of logs for this instance,
which may occur if the VM has not generated any logs or logging is disabled or the VM is shutdown
{% endblock gce_serial_logs_check_skipped_reason%}
