{% block gce_serial_logs_check_failure_reason %}
Detected anomalies in serial logs for GCE Instance indicative of issues affecting the guest or application functionality.
{% endblock gce_serial_logs_check_failure_reason %}

{% block gce_serial_logs_check_failure_remediation %}
Consult the following guides to connect to the VM and diagnose the issue:

Linux:

<https://cloud.google.com/compute/docs/connect/standard-ssh>

Windows:

<https://cloud.google.com/compute/docs/instances/connecting-to-windows>

<https://cloud.google.com/compute/docs/instances/connecting-to-sac>

<https://cloud.google.com/compute/docs/connect/windows-ssh>

<https://cloud.google.com/compute/docs/instances/windows/connecting-powershell>
{% endblock gce_serial_logs_check_failure_remediation %}

{% block gce_serial_logs_check_success_reason %}
Serial logs for GCE Instance confirm the VM is operating within normal parameters, with no anomalies detected.
{% endblock gce_serial_logs_check_success_reason %}

{% block gce_serial_logs_check_uncertain_reason %}
Unable to find sufficient serial log data for GCE Instance for a conclusive analysis. This may limit the ability to detect specific issues.
{% endblock gce_serial_logs_check_uncertain_reason %}

{% block gce_serial_logs_check_uncertain_remediation %}
Enable more detailed logging if it is disabled, or start the VM if it is shut down.
Review the following troubleshooting documentation for guidance on common issues with serial logs:

<https://cloud.google.com/compute/docs/troubleshooting/viewing-serial-port-output>

<https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-using-serial-console>
{% endblock gce_serial_logs_check_uncertain_remediation %}

{% block gce_serial_logs_check_skipped_reason %}
Skipped serial log analysis for GCE Instance due to the absence of logs. This may occur if the VM has not generated any logs, logging is disabled, or the VM is shut down.
{% endblock gce_serial_logs_check_skipped_reason%}
