{% block instances_get_step_name %}
Verify that the {principal} has "compute.instance.get" permission.
{% endblock instances_get_step_name %}

{% block instances_get_failure_reason %}
The authenticated user {principal} does not have the permissions needed to manage instances.
The following permissions are required: {permissions_or_roles}.
{% endblock instances_get_failure_reason %}

{% block instances_get_failure_remediation %}
To remedy this, ensure the user {principal} is granted a role encompassing the necessary permissions:
- Permissions needed: {missing_permissions_or_roles}

For guidance on assigning instance admin roles, consult:
https://cloud.google.com/compute/docs/access/iam#connectinginstanceadmin
{% endblock instances_get_failure_remediation %}

{% block instances_get_success_reason %}
The user {principal} possesses the appropriate {permissions_or_roles} to fetch instance details.
{% endblock instances_get_success_reason %}

{% block has_os_login_step_name %}
Verify whether {principal} has at least one valid OS login role.
{% endblock has_os_login_step_name %}

{% block has_os_login_success_reason %}
"{principal}" possesses at least one of the required OS Login roles:
{present_permissions_or_roles}.
{% endblock has_os_login_success_reason %}

{% block has_os_login_failure_reason %}
"{principal}" is missing at least one of the required OS Login roles:
{missing_permissions_or_roles}.
{% endblock has_os_login_failure_reason %}

{% block has_os_login_failure_remediation %}
Assign the principal one of the role required to have OS Login privileges.
For more information:

https://cloud.google.com/compute/docs/oslogin/set-up-oslogin#configure_users

https://cloud.google.com/iam/docs/manage-access-service-accounts#grant-single-role
{% endblock has_os_login_failure_remediation %}

{% block sa_user_role_step_name %}
Verify that the {principal} has "roles/iam.serviceAccountUser" role.
{% endblock sa_user_role_step_name %}

{% block sa_user_role_failure_reason %}
"{principal}" does not have the "{missing_permissions_or_roles}" role or custom roles which has the
constituent permissions required to be able to impersonate the attached service account.
{% endblock sa_user_role_failure_reason %}

{% block sa_user_role_failure_remediation %}
Assign the "roles/iam.serviceAccountUser" role to "{principal}".
Guidelines:

https://cloud.google.com/compute/docs/oslogin/set-up-oslogin#configure_users

https://cloud.google.com/iam/docs/manage-access-service-accounts#grant-single-role
{% endblock sa_user_role_failure_remediation %}

{% block sa_user_role_success_reason %}
"{principal}" has the "{present_permissions_or_roles}"
required to impersonate the attached service account.
{% endblock sa_user_role_success_reason %}

{% block iap_role_step_name %}
Verify that the {principal} has "roles/iap.tunnelResourceAccessor" role.
{% endblock iap_role_step_name %}

{% block iap_role_failure_reason %}
{principal} does not have the "{missing_permissions_or_roles}" role necessary to Tunnel through IAP for access.
{% endblock iap_role_failure_reason %}

{% block iap_role_failure_remediation %}
Ensure that "{principal}" is assigned the "roles/iap.tunnelResourceAccessor" role to enable the required access.

For detailed guidance, refer to the following resources:
- [Setting up OS Login](https://cloud.google.com/compute/docs/oslogin/set-up-oslogin#configure_users)
- [Managing access to service
accounts](https://cloud.google.com/iam/docs/manage-access-service-accounts#grant-single-role)
{% endblock iap_role_failure_remediation %}

{% block iap_role_success_reason %}
"{principal}" has the requisite "{present_permissions_or_roles}" role to tunnel through IAP.
{% endblock iap_role_success_reason %}

{% block console_view_permission_step_name %}
Verify whether the {principal} has the "compute.projects.get" permission required to view the console.
{% endblock console_view_permission_step_name %}

{% block console_view_permission_failure_reason %}
The "compute.projects.get" permission is required for users to access GCE Instances via the Google
Cloud console, SSH-in-browser functionality.
{% endblock console_view_permission_failure_reason %}

{% block console_view_permission_failure_remediation %}
Refer to the [permissions guide](https://cloud.google.com/compute/docs/access/iam#console_permission)
for detailed steps on granting the necessary permissions to enable access to Compute Engine resources.
{% endblock console_view_permission_failure_remediation %}

{% block console_view_permission_success_reason %}
{principal} has the necessary {present_permissions_or_roles}, including the "compute.projects.get"
permission, required to access and use the Google Cloud.
{% endblock console_view_permission_success_reason %}

{% block can_set_metadata_step_name %}
Verify that the {principal} has permission to set instance metadata or common project metadata.
{% endblock can_set_metadata_step_name %}

{% block can_set_metadata_success_reason %}
{principal} is authorized to update instance or project metadata, including SSH keys.
This enables gcloud and cloud console to update temporary SSH access to the VM or configure
personal SSH keys if needed.
{% endblock can_set_metadata_success_reason %}

{% block can_set_metadata_failure_reason %}
The current user does not have the necessary permissions to modify metadata,
essential for managing SSH keys. Missing permissions include one of the following:
{{" or ".join(metadata_permissions)}}.
{% endblock can_set_metadata_failure_reason %}

{% block can_set_metadata_failure_remediation %}
To grant the required permissions for managing SSH keys within the VM's metadata, follow these guides:
- For project-level SSH key management, assign roles that include the
'compute.projects.setCommonInstanceMetadata' permission. More details can be found here:
https://cloud.google.com/compute/docs/connect/add-ssh-keys#expandable-2
- For instance-level SSH key management, ensure roles include 'compute.instances.setMetadata'
permission. Step-by-step instructions are available here:
https://cloud.google.com/compute/docs/connect/add-ssh-keys#expandable-3

Adjusting these permissions will allow for the proper management of SSH keys and, by extension,
SSH access to the VM especially if using gcloud / cloud console.
{% endblock can_set_metadata_failure_remediation %}
