{% block logs_failure_reason %}
{error_message}
{% endblock logs_failure_reason %}

{% block logs_failure_remediation %}
The VM creation process failed because the VM `{instance_name}` already exists in zone `{zone}` within project
`{project_id}`. Please delete the existing VM or choose a different name for the new VM.
{% endblock logs_failure_remediation %}

{% block logs_failure_reason_a1 %}
{error_message}
{% endblock logs_failure_reason_a1 %}

{% block logs_failure_remediation_a1 %}
The VM creation process failed due to {metric_name} quota limit being exceeded.

Current {limit_name} limit is set at {limit}

To resolve this issue follow our guide to adjust {metric_name} to value
<https://cloud.google.com/docs/quotas/view-manage#requesting_higher_quota>
1. Navigate to the Google Cloud Console Quotas & System Limits page <https://console.cloud.google.com/iam-admin/quotas>
2. Locate the quota metric and region associated with the failure.
3. Request a quota increase.
{% endblock logs_failure_remediation_a1 %}

{% block logs_failure_reason_a2 %}
{error_message}
{% endblock logs_failure_reason_a2 %}

{% block logs_failure_remediation_a2 %}
Grant the missing permission to be able to create an instance <https://cloud.google.com/compute/docs/instances/create-start-instance#expandable-1>
{% endblock logs_failure_remediation_a2 %}
