{% block default_failure_reason %}
GCE Instance metadata `{metadata_key}` doesn't have the expected value: {expected_value}
of type {expected_value_type}
{% endblock default_failure_reason %}

{% block default_failure_remediation %}
Update the metadata `{metadata_key}` to have the expected value {expected_value}
Follow guide [1] one to update the a metadata value.
[1] <https://cloud.google.com/compute/docs/metadata/setting-custom-metadata#gcloud>
{% endblock default_failure_remediation %}

{% block default_success_reason %}
GCE Instance metadata `{metadata_key}` has the expected value: {expected_value}
of type {expected_value_type}
{% endblock default_success_reason %}

{% block windows_ssh_md_failure_reason %}
SSH metadata `enable-windows-ssh` is not configured for this Windows VM,
preventing SSH access.
{% endblock windows_ssh_md_failure_reason %}

{% block windows_ssh_md_failure_remediation %}
To enable SSH access for your Windows VM, you must configure SSH metadata settings appropriately.
Please consult our guide on enabling SSH for Windows instances for step-by-step instructions:
<https://cloud.google.com/compute/docs/connect/windows-ssh#enable>
{% endblock windows_ssh_md_failure_remediation %}

{% block windows_ssh_md_success_reason %}
SSH metadata `enable-windows-ssh` is correctly set for this Windows VM,
indicating readiness for SSH connections if other factors permit.
{% endblock windows_ssh_md_success_reason %}

{% block no_os_login_step_name %}
Verify if OS Login is not activated for the VM
{% endblock no_os_login_step_name %}

{% block no_os_login_failure_reason %}
OS Login is currently enabled on this VM, conflicting with the intended metadata-based SSH Key
configuration.
{% endblock no_os_login_failure_reason %}

{% block no_os_login_failure_remediation %}
Activating OS Login alters the VM's SSH access settings, removing the `authorized_keys` file
and ceasing to accept SSH keys stored in project or instance metadata.
To maintain the ability to use metadata-based SSH keys, you must deactivate OS Login by
setting `enable-oslogin` to `False` in your VM's metadata. Decide between utilizing OS Login
or metadata-based SSH keys based on your access requirements.
For more information on managing OS Login settings,
visit: <https://cloud.google.com/compute/docs/oslogin/set-up-oslogin#enable_os_login>

Note: The activation of OS Login disables google managed metadata-based SSH key authentication.
However, if you have a custom SSH configuration which doesn't depend on metadata keys. Should be
unaffected by this configuration.
{% endblock no_os_login_failure_remediation %}

{% block no_os_login_success_reason %}
OS Login is correctly disabled, aligning with the preference for metadata-based SSH Key
authentication. The VM's `enable-oslogin` flag is not set,
ensuring compatibility with metadata-based SSH access.
{% endblock no_os_login_success_reason %}

{% block os_login_enabled_step_name %}
Verify that OS Login is set to `True` for the VM.
{% endblock os_login_enabled_step_name %}

{% block os_login_enabled_failure_reason %}
OS Login is disabled
{% endblock os_login_enabled_failure_reason %}

{% block os_login_enabled_failure_remediation %}
To utilize OS Login, enable it by setting the `enable-oslogin` flag in the VM's
metadata to `TRUE`.For detailed instructions on enabling OS Login,
refer to: <https://cloud.google.com/compute/docs/oslogin/set-up-oslogin#enable_os_login>
{% endblock os_login_enabled_failure_remediation %}

{% block os_login_enabled_success_reason %}
OS Login is enabled on this VM.
{% endblock os_login_enabled_success_reason %}

{% block can_set_metadata_success_reason %}
{auth_user} is authorized to update instance or project metadata, including SSH keys.
This enables gcloud and cloud console to update temporary SSH access to the VM or configure
personal SSH keys if needed.
{% endblock can_set_metadata_success_reason %}

{% block can_set_metadata_failure_reason %}
The current user does not have the necessary permissions to modify metadata,
essential for managing SSH keys. Missing permissions include one of the following:
{" or ".join(metadata_permissions)}.
{% endblock can_set_metadata_failure_reason %}

{% block can_set_metadata_failure_remediation %}
To grant the required permissions for managing SSH keys within the VM's metadata, follow these guides:

- For project-level SSH key management, assign roles that include the
'compute.projects.setCommonInstanceMetadata' permission. More details can be found here:
<https://cloud.google.com/compute/docs/connect/add-ssh-keys#expandable-2>
- For instance-level SSH key management, ensure roles include 'compute.instances.setMetadata'
permission. Step-by-step instructions are available here:
<https://cloud.google.com/compute/docs/connect/add-ssh-keys#expandable-3>
Adjusting these permissions will allow for the proper management of SSH keys and, by extension,
SSH access to the VM especially if using gcloud / cloud console.
{% endblock can_set_metadata_failure_remediation %}

{% block valid_ssh_key_success_reason %}
The local user "{local_user}" is confirmed to have at least one valid SSH key
configured on the GCE Instance: "{full_resource_path}".
{% endblock valid_ssh_key_success_reason %}

{% block valid_ssh_key_failure_reason %}
The local user "{local_user}" lacks at least one valid SSH key for VM: "{full_resource_path}".
{% endblock valid_ssh_key_failure_reason %}

{% block valid_ssh_key_failure_remediation %}
Ensure "{local_user}" has a valid SSH key by following the guide:
<https://cloud.google.com/compute/docs/connect/add-ssh-keys#add_ssh_keys_to_instance_metadata>
{% endblock valid_ssh_key_failure_remediation %}

{% block duplicate_ssh_keys_failure_reason %}
VM {instance_name} has {count} duplicate SSH key(s) in its metadata: {keys}
{% endblock duplicate_ssh_keys_failure_reason %}

{% block duplicate_ssh_keys_failure_remediation %}
Remove duplicate SSH keys from the instance or project metadata to avoid potential SSH issues and improve security hygiene.
{% endblock duplicate_ssh_keys_failure_remediation %}

{% block duplicate_ssh_keys_success_reason %}
No duplicate SSH keys were found in metadata for VM {instance_name}.
{% endblock duplicate_ssh_keys_success_reason %}
