{% block opsagent_installed_success_reason %}
GCE Instance "{full_resource_path}" has {subagent} agent installed and is exporting data.
{% endblock opsagent_installed_success_reason %}

{% block opsagent_installed_failure_reason %}
GCE Instance "{full_resource_path}" does not have {subagent} agent installed and is not exporting data.
{% endblock opsagent_installed_failure_reason %}

{% block opsagent_installed_failure_remediation %}
Install the {subagent} agent on GCE Instance "{full_resource_path}".
Consult the following documentation for troubleshooting assistance:
<https://cloud.google.com/stackdriver/docs/solutions/agents/ops-agent/troubleshoot-run-ingest>
{% endblock opsagent_installed_failure_remediation %}
