{% block default_failure_reason %}
Anomalies detected in the serial logs which align with the investigated bad patterns
{% endblock default_failure_reason %}

{% block default_skipped_reason %}
There are no logs to examine !
{% endblock default_skipped_reason %}

{% block default_failure_remediation %}
Investigate potential issues through the serial console.
If GRUB_TIMEOUT is greater than 0, access the interactive session for more insights.
Explore rescue options for inaccessible VMs or review possible guest OS issues,
- Interactive Serial Console: https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-using-serial-console
- Rescuing VMs: https://cloud.google.com/compute/docs/troubleshooting/rescue-vm

If escalating Guest OS related issues to Google Cloud Support
do check to ensure is in line with Google Cloud Platform's Guest OS support policy
- Google Cloud Platform Support Scope: https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope
{% endblock default_failure_remediation %}

{% block default_success_reason %}
The VM's Linux OS shows no signs of interested anomalies,
indicating a *likely* stable operational state.
{% endblock default_success_reason %}

{% block default_uncertain_reason %}
Lack of serial log data prevented a thorough assessment of the VM's operational state. Result is
inconclusive
{% endblock default_uncertain_reason %}

{% block default_uncertain_remediation %}
Confirm the VM's operational status by reviewing available serial logs.
Address any detected guest OS issues using the provided documentation,
keeping in mind certain guest OS faults may be beyond Google Cloud Platform's support scope.
- Viewing Serial Port Output: https://cloud.google.com/compute/docs/troubleshooting/viewing-serial-port-output
- Resolving Kernel Panic:
https://cloud.google.com/compute/docs/troubleshooting/kernel-panic#resolve_the_kernel_panic_error
- Google Cloud Platform Support Scope: https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope
{% endblock default_uncertain_remediation %}

{% block kernel_panic_step_message %}
Initiating kernel panic check on the Guest OS.
{% endblock kernel_panic_step_message %}

{% block kernel_panic_success_reason %}
No signs of Linux OS experiencing kernel panic or GRUB issues.
Guest kernel has not dropped into emergency/maintenance mode
in recent logs
In addition, we see that applications like systemd is running
{% endblock kernel_panic_success_reason %}

{% block kernel_panic_failure_reason %}
Detected kernel panic logs in {instance_name} serial logs,
which is likely preventing the VM from booting up correctly.
{% endblock kernel_panic_failure_reason %}

{% block kernel_panic_failure_remediation %}
Address underlying issues leading to boot issues:
Consult the troubleshooting guide for kernel panic errors [1]

Common causes of kernel panic within linux guestos is File system errors.
Examining `/etc/fstab` for file system errors that could halt the boot process. [2]

Use gce-rescue available in cloud shell [2] rescue faulty VMs:
https://cloud.google.com/compute/docs/troubleshooting/rescue-vm
https://www.youtube.com/watch?v=oD6IFpjEtEw

Google Cloud Platform Support Scope:
https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope

[1] https://cloud.google.com/compute/docs/troubleshooting/kernel-panic#resolve_the_kernel_panic_error
[2] https://cloud.google.com/compute/docs/troubleshooting/fstab-errors

More articles to refer to:
  Redhat:
  - https://access.redhat.com/solutions/2515741
  - https://access.redhat.com/solutions/6932631

  SUSE:
  - https://www.suse.com/support/kb/doc/?id=000018523
{% endblock kernel_panic_failure_remediation %}

{% block kernel_panic_uncertain_reason %}
The logs retrieved does not contain positive or negative entries which
would help make conclusive assessment. You will need to double check
This if it's a likely cause.
{% endblock kernel_panic_uncertain_reason %}

{% block kernel_panic_uncertain_remediation %}
Manually view the serial logs [0] to assess if there is kernel Panic
issues

Address underlying issues leading to bootup issues:
Consult the troubleshooting guide for kernel panic errors [1]

Common causes of kernel panic within linux guest os
File system errors
Examining `/etc/fstab` for file system errors that could halt the boot process. [2]

Use gce-rescue available in cloud shell [2] rescue faulty VMs:
https://cloud.google.com/compute/docs/troubleshooting/rescue-vm
https://www.youtube.com/watch?v=oD6IFpjEtEw

Google Cloud Platform Support Scope:
https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope

[0] https://cloud.google.com/compute/docs/troubleshooting/viewing-serial-port-output
[1] https://cloud.google.com/compute/docs/troubleshooting/kernel-panic#resolve_the_kernel_panic_error
[2] https://cloud.google.com/compute/docs/troubleshooting/fstab-errors
{% endblock kernel_panic_uncertain_remediation %}

{% block kernel_panic_skipped_reason %}
There are no logs to examine !
{% endblock kernel_panic_skipped_reason %}


{% block sshguard_step_message %}
Analyzing SSHGuard intrusion detection functionality on the VM (if any)
{% endblock sshguard_step_message %}

{% block sshguard_failure_reason %}
SSHGuard is active and may be blocking IP addresses.
Verify if your IP is blocked by SSHGuard on the VM.
{% endblock sshguard_failure_reason %}

{% block sshguard_failure_remediation %}
Note: Issues related to SSHGuard fall outside the standard support scope for Google Cloud Platform.
Consult the most appropriate team within your organisation to assist with resolution.
For guest OS issues and SSHGuard configurations, refer to:
- Support Scope: https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope
- Out of Scope Support: https://cloud.google.com/compute/docs/images/support-maintenance-policy#out-of-scope_for_support
{% endblock sshguard_failure_remediation %}

{% block sshguard_success_reason %}
SSHGuard doesn't appear to be blockaging IPs on the VM (if installed on the VM)
{% endblock sshguard_success_reason %}

{% block sshguard_uncertain_reason %}
The logs retrieved does not contain positive or negative entries which
would help make conclusive assessment. You will need to double check
This if it's a likely cause.
{% endblock sshguard_uncertain_reason %}

{% block sshguard_uncertain_remediation %}
If SSHGuard or similar application is a concern,
manually inspect its configuration via the interactive serial console:
https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-using-serial-console
{% endblock sshguard_uncertain_remediation %}

{% block sshguard_skipped_reason %}
There are no logs to examine
{% endblock sshguard_skipped_reason %}

{% block windows_gce_ssh_agent_instructions_message %}
Verify if the `google-compute-engine-ssh` agent is installed on the Windows VM.
{% endblock windows_gce_ssh_agent_instructions_message %}

{% block windows_gce_ssh_agent_step_message %}
Manually verify if the necessary Google guest agents, especially `google-compute-engine-ssh`,
are operational on the VM.
{% endblock windows_gce_ssh_agent_step_message %}

{% block windows_gce_ssh_agent_uncertain_reason %}
Uncertain if the `google-compute-engine-ssh` agent is installed on the VM.
{% endblock windows_gce_ssh_agent_uncertain_reason %}

{% block windows_gce_ssh_agent_uncertain_remediation %}
Utilize RDP or a startup script to check for the presence and functionality of the
`google-compute-engine-ssh` agent. For instructions on implementing startup scripts, refer to:
https://cloud.google.com/compute/docs/connect/windows-ssh#startup-script
{% endblock windows_gce_ssh_agent_uncertain_remediation %}

{% block windows_gce_ssh_agent_success_reason %}
Successfully confirmed the installation of the `google-compute-engine-ssh` agent on the Windows VM.
{% endblock windows_gce_ssh_agent_success_reason %}

{% block windows_gce_ssh_agent_failure_reason %}
Unable to confirm the installation of the `google-compute-engine-ssh` agent on the VM.
{% endblock windows_gce_ssh_agent_failure_reason %}

{% block windows_gce_ssh_agent_failure_remediation %}
Ensure the `google-compute-engine-ssh` agent is correctly installed and configured.
Consult the following guide for assistance with agent installation and configuration:
https://cloud.google.com/compute/docs/connect/windows-ssh#startup-script
{% endblock windows_gce_ssh_agent_failure_remediation %}


{% block sshd_step_message %}
Examining SSHD functionality via serial logs.
{% endblock sshd_step_message %}

{% block sshd_failure_reason %}
SSHD issues detected in the VM, potentially affecting SSH access.
{% endblock sshd_failure_reason %}

{% block sshd_failure_remediation %}
For SSHD troubleshooting:
1. Refer to common Linux SSH errors and their solutions.
2. Check for warning messages that might indicate SSH connection issues in cloud serial console logs.
- Troubleshooting SSH Errors:
https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-ssh-errors#linux_errors
- Serial Console Troubleshooting:
https://cloud.google.com/knowledge/kb/ssh-in-cloud-serial-console-fails-with-warning-message-000004554
{% endblock sshd_failure_remediation %}

{% block sshd_success_reason %}
Detected that SSHD is running within the VM
{% endblock sshd_success_reason %}

{% block sshd_uncertain_reason %}
The logs retrieved does not contain positive or negative entries which
would help make a conclusive assessment. You will need to double check
This if it's a likely cause.
{% endblock sshd_uncertain_reason %}

{% block sshd_uncertain_remediation %}
Resources on how to fix SSHD issues:
https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-ssh-errors#linux_errors
https://cloud.google.com/knowledge/kb/ssh-in-cloud-serial-console-fails-with-warning-message-000004554
Use gce-rescue to get your VM into emergency mode: https://github.com/GoogleCloudPlatform/gce-rescue
NOTE: Guest related issues are Out of Support Scope
See Google Cloud Platform support policy on Guest OS
https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope
https://cloud.google.com/compute/docs/images/support-maintenance-policy#out-of-scope_for_support
{% endblock sshd_uncertain_remediation %}

{% block sshd_skipped_reason %}
There are no logs to examine
{% endblock sshd_skipped_reason %}

{% block windows_bootup_step_message %}
Verifying bootup pr
{% endblock windows_bootup_step_message %}

{% block windows_bootup_success_reason %}
Confirmed the expected guest agent serial console logs is present.
{% endblock windows_bootup_success_reason %}

{% block windows_bootup_failure_reason %}
Can not find the expected guest agent serial console logs outputted upon guest agent start up.
{% endblock windows_bootup_failure_reason %}

{% block windows_bootup_failure_remediation %}
Leverage the following troubleshooting guide to investigate windows boot up issues. [1][2]

Objective: Fix any boot issues preventing a clean boot up. Typically should show the
follow output if gce agents are installed on the VM [3]

Resources:
[1] https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-windows

Connecting to the Windows Special Administrative Console (SAC) to troubleshoot bootup issues.
[2] https://cloud.google.com/compute/docs/instances/connecting-to-sac
[3] https://cloud.google.com/compute/docs/images/install-guest-environment#windows:~:text=Engine%20Shutdown%20Scripts-,Windows,-GCEGuestAgent%3A%20GCE%20Agent
[4] https://cloud.google.com/compute/docs/instances/connecting-to-windows
[5] https://cloud.google.com/compute/docs/connect/windows-ssh
[6] https://cloud.google.com/compute/docs/instances/windows/connecting-powershell

Google Cloud Platform Support Scope
https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope
{% endblock windows_bootup_failure_remediation %}

{% block windows_bootup_uncertain_reason %}
Lack of serial log data prevented a thorough assessment of the VM's operational state. Result is
inconclusive
{% endblock windows_bootup_uncertain_reason %}

{% block windows_bootup_uncertain_remediation %}
Consulting the troubleshooting guide to investigate windows boot up issues. [1][2]

Resources:
[1] https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-windows

Connecting to the Windows Special Administrative Console (SAC) to troubleshoot bootup issues.
[2] https://cloud.google.com/compute/docs/instances/connecting-to-sac

Google Cloud Platform Support Scope
https://cloud.google.com/compute/docs/images/support-maintenance-policy#support-scope
{% endblock windows_bootup_uncertain_remediation %}


{% block serial_log_start_point_step_message %}
Checking if all logs available since last boot of the instance
{% endblock serial_log_start_point_step_message %}

{% block serial_log_start_point_success_reason %}
Found all logs since last boot of the VM.
{% endblock serial_log_start_point_success_reason %}

{% block serial_log_start_point_failure_reason %}
We do not have full serial console logs availabe since the instance's startup due to auto purge,
hence the check might not have correct results.
{% endblock serial_log_start_point_failure_reason %}

{% block serial_log_start_point_failure_remediation %}
You might want to restart the instance and then run the gcpdiag to analyse Serial console logs.
{% endblock serial_log_start_point_failure_remediation %}

{% block serial_log_start_point_skipped_reason %}
There are no logs to examine !
{% endblock serial_log_start_point_skipped_reason %}


{% block  time_sync_issue_step_message %}
Checking for Time Sync related errors
{% endblock  time_sync_issue_step_message %}

{% block time_sync_issue_failure_reason %}
Found time sync error messages in Serial console logs. It looks like VM's time is out of syc.
{% endblock time_sync_issue_failure_reason %}

{% block time_sync_issue_failure_remediation %}
Please check if your NTP server config on your instance is as per Google Cloud Platform standards
https://cloud.google.com/compute/docs/instances/configure-ntp.
{% endblock time_sync_issue_failure_remediation %}

{% block time_sync_issue_skipped_reason %}
There are no logs to examine !
{% endblock time_sync_issue_skipped_reason %}

{% block time_sync_issue_uncertain_reason %}
We did not find any Time sync related errors in Serial console logs.
{% endblock time_sync_issue_uncertain_reason %}

{% block time_sync_issue_uncertain_remediation %}
To verify, please check your system Logs for below patterns:
    'time may be out of sync',
    'System clock is unsynchronized',
    'Time drift detected',
    'no servers can be used, system clock unsynchronized'
{% endblock time_sync_issue_uncertain_remediation %}


{% block  guest_agent_step_message %}
Checking for Guest Agent startup logs
{% endblock  guest_agent_step_message %}

{% block guest_agent_failure_reason %}
Could not find the Google Guest Agent startup log in Serial console logs.
{% endblock guest_agent_failure_reason %}

{% block guest_agent_failure_remediation %}
The google-guest-agent contains the guest agent and metadata script executables which
runs on the guest OS to support the Compute Engine features. These features include account
management, OS Login integration, clock skew, network interface management, and instance setup.

In case Guest Agent is not started during instance startup, you might face login issues.

The google-guest-agent.service service should be in running state.
If the service is disabled, enable and start the service, by running the following commands:

systemctl enable google-guest-agent.service
systemctl start google-guest-agent.service

Verify that the Linux Google Agent scripts are installed and running. If the Linux Google
Agent is not installed, re-install it.
{% endblock guest_agent_failure_remediation %}

{% block guest_agent_success_reason %}
Detected that Google Guest Agent is running within the VM
{% endblock guest_agent_success_reason %}

{% block guest_agent_skipped_reason %}
There are no logs to examine !
{% endblock guest_agent_skipped_reason %}

{% block guest_agent_uncertain_reason %}
We are not able to find the success or failed logs for Google Guest Agent startup.
{% endblock guest_agent_uncertain_reason %}

{% block guest_agent_uncertain_remediation %}
Each supported operating system that is available on Compute Engine
requires specific guest environment packages.

The presence of a guest environment can be determined by either
inspecting system logs emitted to the console while an instance starts up,
or by listing the installed packages while connected to the instance.

To manually validate the Guest Agent,
please check https://cloud.google.com/compute/docs/images/install-guest-environment#wgei

{% endblock guest_agent_uncertain_remediation %}

{% block  network_errors_step_message %}
Checking for network related errors
{% endblock  network_errors_step_message %}

{% block network_errors_failure_reason %}
The metadata server(169.254.169.254) is unreachable from the insatnce.
The instance might not have IP assigned to its primary NIC.
{% endblock network_errors_failure_reason %}

{% block network_errors_failure_remediation %}
Please try to login via Serial console using password and check Network stack status.
If login via Serial console is not possible, You might want to restart the instance.
If issue persists post reboot as well, you may follow the steps
https://cloud.google.com/compute/docs/troubleshooting/rescue-vm to rescue the vm and
troubleshoot further.

Additionally, this document shows you how to resolve issues with the Compute Engine metadata server.
https://cloud.google.com/compute/docs/troubleshooting/troubleshoot-metadata-server
{% endblock network_errors_failure_remediation %}

{% block network_errors_skipped_reason %}
There are no logs to examine !
{% endblock network_errors_skipped_reason %}


{% block  linux_fs_corruption_step_message %}
Checking if any Filesystem corruption related errors in Serial console logs
{% endblock  linux_fs_corruption_step_message %}

{% block linux_fs_corruption_failure_reason %}
Possibe filesystem corruption detected.

The patterns we looked for :
    'Corruption of in-memory data detected. Shutting down filesystem',
    'Corruption of in-memory data detected', 'warning: mounting fs with errors',
    'Failed to mount /',
    'A stop job is running for Security \.\.\..* Service ',
    'I/O Error Detected. Shutting down filesystem',
    'metadata I/O error in'
{% endblock linux_fs_corruption_failure_reason %}

{% block linux_fs_corruption_failure_remediation %}
To fix the filesystem correuption, you may use gce-rescue[1] available in cloud shell to
rescue faulty VMs or go via manual mathod[2] to repair the filesystem.

More articles you may refer:
https://access.redhat.com/solutions/1750923


[1]
https://github.com/GoogleCloudPlatform/gce-rescue

[2]
https://cloud.google.com/compute/docs/troubleshooting/rescue-vm ,
https://www.youtube.com/watch?v=oD6IFpjEtEw
{% endblock linux_fs_corruption_failure_remediation %}

{% block linux_fs_corruption_skipped_reason %}
There are no logs to examine !
{% endblock linux_fs_corruption_skipped_reason %}

{% block sshd_auth_failure_step_message %}
Examining SSHD authentication failures via serial logs.
{% endblock sshd_auth_failure_step_message %}

{% block sshd_auth_failure_failure_reason %}
SSHD authentication issues detected in the VM, potentially affecting SSH access.
We found the error "Authentication refused: bad ownership or modes for directory"
{% endblock sshd_auth_failure_failure_reason %}

{% block sshd_auth_failure_failure_remediation %}
To mitigate "bad ownership or modes for directory" errors:
1. Follow either of the below steps to check the permissions:
  a. these steps to rescue the vm:
     https://cloud.google.com/compute/docs/troubleshooting/rescue-vm

  b. these steps login through serial console:
     https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-using-serial-console

2. Refer to the standard permissions required for ssh connection:
   https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-ssh-errors#permissions
{% endblock sshd_auth_failure_failure_remediation %}

{% block sshd_auth_failure_success_reason %}
No errors detected for sshd auth failure due to bad permissions
{% endblock sshd_auth_failure_success_reason %}

{% block sshd_auth_failure_skipped_reason %}
There are no logs to examine
{% endblock sshd_auth_failure_skipped_reason %}

{% block sshd_auth_failure_uncertain_reason %}
We are not able to find the success or failed logs for SSHD authentication issues.
{% endblock sshd_auth_failure_uncertain_reason %}

{% block sshd_auth_failure_uncertain_remediation %}
To check if sshd_auth_failures are happening due to wrong directory permissions:
1. Follow either of the below steps to check the permissions:
  a. these steps to rescue the vm:
     https://cloud.google.com/compute/docs/troubleshooting/rescue-vm

  b. these steps login through serial console:
     https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-using-serial-console

2. Check the system logs for following error messages:
   'Authentication refused: bad ownership or modes for directory'
   'Error updating SSH keys for user1: mkdir /home/USER/.ssh: no such file or directory'
{% endblock sshd_auth_failure_uncertain_remediation %}

{% block linux_fs_corruption_uncertain_reason %}
We did not find any Filesystem corruption related errors in Serial console logs
{% endblock linux_fs_corruption_uncertain_reason %}

{% block linux_fs_corruption_uncertain_remediation %}

{% endblock linux_fs_corruption_uncertain_remediation %}
