{% block vm_connectivity_reason %}
Consider using our recommended methods for connecting Compute Engine virtual
machine (VM) instance through its internal IP address:
https://cloud.google.com/compute/docs/connect/ssh-internal-ip
{% endblock vm_connectivity_reason %}
