{% block firewall_exists_success_reason %}
No firewall rule blocking traffic
{% endblock firewall_exists_success_reason %}

{% block firewall_exists_failure_reason %}
Firewall rule or policy exists which may deny egress traffic.
Continue for connectivity test confirmation or apply remediation step and retest
{% endblock firewall_exists_failure_reason %}

{% block firewall_exists_failure_remediation %}
Follow [1] to create or update VPC firewall rules.
Follow [2] on how to create or modify Firewall policies.
[1] https://cloud.google.com/firewall/docs/using-firewalls#creating_firewall_rules
[2] https://cloud.google.com/firewall/docs/using-firewall-policies
{% endblock firewall_exists_failure_remediation %}

# `step_message` is mostly used when working with generalized step and prefer
# a more customized introduction message for the step.
{% block firewall_exists_step_message %}
Verify Firewall exists
{% endblock firewall_exists_step_message %}

#############################################################
# messages for the VPC route check for gateway nexthop step #
#############################################################

{% block vpc_route_check_for_nexthop_gateway_success_reason %}
Matching VPC route with nexthop gateway found
{% endblock vpc_route_check_for_nexthop_gateway_success_reason %}

# messages for the VPC route check for gateway nexthop
{% block vpc_route_check_for_nexthop_gateway_failure_reason %}
No matching VPC route found that forwards traffic to the external IP {address}
{% endblock vpc_route_check_for_nexthop_gateway_failure_reason %}

{% block vpc_route_check_for_nexthop_gateway_failure_remediation %}
Follow [1] or [2] to create a default route to the defaul internet gateway.
[1] https://cloud.google.com/vpc/docs/using-routes#add-default-route-ipv4
[2] https://cloud.google.com/vpc/docs/using-routes#addingroute-ipv6
{% endblock vpc_route_check_for_nexthop_gateway_failure_remediation %}

{% block vpc_route_check_for_nexthop_gateway_uncertain_reason %}
Matching VPC route: {route_name} is configured to forward traffic for the external IP {address}
via the next hop: {next_hop_link} and not the default internet gateway. If this configuration is expected,
ensure that the configured nexthop have connectivity to the Internet.
{% endblock vpc_route_check_for_nexthop_gateway_uncertain_reason %}

{% block vpc_route_check_for_nexthop_gateway_uncertain_remediation %}
Verify that connectivity to external endpoint can be established via the nexthop
Next Hop: {next_hop_link}
{% endblock vpc_route_check_for_nexthop_gateway_uncertain_remediation %}

#############################################################
# Messages for Connectivity Tests Step #
#############################################################

{% block connectivity_test_success_reason %}
The remote endpoint {address} is {result_status}.

CONNECTIVIT TEST RESULT:

{trace}
{% endblock connectivity_test_success_reason %}

{% block connectivity_test_failure_reason %}
The remote endpoint {address} is {result_status}. Review the connectivity test result output and resolve identified
issues.

CONNECTIVIT TEST RESULT:

{trace}
{% endblock connectivity_test_failure_reason %}

{% block connectivity_test_uncertain_reason %}
Connectivity test to the endpoint {address} is {result_status}. Review the connectivity test result output and resolve
identified issues.

CONNECTIVIT TEST RESULT:

{trace}
{% endblock connectivity_test_uncertain_reason %}


{% block connectivity_test_uncertain_remediation %}
Review the connectivity test output, resolve issues and retest.
{% endblock connectivity_test_uncertain_remediation %}

{% block connectivity_test_failure_remediation %}
Review the connectivity test output, resolve issues and retest.
{% endblock connectivity_test_failure_remediation %}


#############################################################
# Messages for NAT IP Exhaustion Check #
#############################################################

{% block nat_ip_exhaustion_check_success_reason %}
No IP exhaustion issues found on the NAT GW {nat_gateway_name}
{% endblock nat_ip_exhaustion_check_success_reason %}

{% block nat_ip_exhaustion_check_failure_reason %}
NAT IP allocation failure found on the NAT GW {nat_gateway_name}
{% endblock nat_ip_exhaustion_check_failure_reason %}

{% block nat_ip_exhaustion_check_failure_remediation %}
IP exhaustion issues on {nat_gateway_name} can be remediated by taking the following steps in [1]:
[1]
https://cloud.google.com/knowledge/kb/cloud-nat-is-dropping-or-limiting-egress-connectivity-000004263#:~:text=If%20the%20metric%20indicates%20that,on%20the%20Port%20reservation%20procedure.
{% endblock nat_ip_exhaustion_check_failure_remediation %}

#############################################################
# Messages for Resource Exhaustion Check #
#############################################################

{% block nat_resource_exhaustion_check_success_reason %}
No {metric_reason} issues on the dropped_sent_packet metric for the NAT GW {nat_gateway_name} seen.
{% endblock nat_resource_exhaustion_check_success_reason %}

{% block nat_resource_exhaustion_check_failure_reason %}
{metric_reason} issue found on the dropped_sent_packet metric on the NAT GW {nat_gateway_name}
{% endblock nat_resource_exhaustion_check_failure_reason %}

{% block nat_resource_exhaustion_check_failure_remediation %}
Resource exhaustion issues can be remediated by taking the following steps in [1]:
[1]
https://cloud.google.com/knowledge/kb/cloud-nat-is-dropping-or-limiting-egress-connectivity-000004263#:~:text=If%20the%20metric%20indicates%20that,on%20the%20Port%20reservation%20procedure
{% endblock nat_resource_exhaustion_check_failure_remediation %}

#############################################################
# Messages for NAT received packet drop check #
#############################################################

{% block nat_dropped_received_packet_check_success_reason %}
No received_packet_drop on NAT GW {nat_gateway_name} seen.
{% endblock nat_dropped_received_packet_check_success_reason %}

{% block nat_dropped_received_packet_check_uncertain_reason %}
Elevated received_packet_drop_count metric noticed for NAT GW {nat_gateway_name}
dropped_received_packet: {metric_value}
{% endblock nat_dropped_received_packet_check_uncertain_reason %}

{% block nat_dropped_received_packet_check_uncertain_remediation %}
NAT gateways could be dropping packets for various reasons; however, the drops are not always indicative of an issue.
Checking received_packet_drop metrics at the VM level as well. Open a case to GCP Support for confirmation
of the reason for the drops
See more on troubleshooting cloud NAT reducing the drops here [1] and [2]:
[1] https://cloud.google.com/nat/docs/troubleshooting
[2] https://cloud.google.com/knowledge/kb/reduce-received-packets-dropped-count-on-cloud-nat-000006744
{% endblock nat_dropped_received_packet_check_uncertain_remediation %}

#############################################################
# Messages for VM received packet drop check #
#############################################################

{% block vm_dropped_received_packet_check_success_reason %}
No received_packet_drop on NAT GW {nat_gateway_name} seen.
{% endblock vm_dropped_received_packet_check_success_reason %}

{% block vm_dropped_received_packet_check_uncertain_reason %}
Elevated received_packet_drop_count metric noticed for following VMs
{vm_drop_list}
{% endblock vm_dropped_received_packet_check_uncertain_reason %}

{% block vm_dropped_received_packet_check_uncertain_remediation %}
VMs could be dropping packets for various reasons; however, the drops are not always indicative of an issue.
See more on troubleshooting cloud NAT and reducing the drops here [1] and [2]:
Open a case to GCP Support for justification for the packet drops.
[1] https://cloud.google.com/nat/docs/troubleshooting
[2] https://cloud.google.com/knowledge/kb/reduce-received-packets-dropped-count-on-cloud-nat-000006744
{% endblock vm_dropped_received_packet_check_uncertain_remediation %}
