.coverage
dist
.pipenv-dockerized
*.pyc
__pycache__
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock.info
.venv
*.lock.hcl
.pyinstaller.build
.*.swp
website/public
website/resources
crash.*.log
gcpdiag-config
gcpdiag/testpsa.py
.vscode/launch.json
**/.DS_STORE
venv/
node_modules
.env
agent/.env
