[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "==0.6"
six = "==1.15.0"
google-api-python-client = "*"
google-auth-oauthlib = "*"
blessings = "*"
importlib-resources = "*"
appdirs = "*"
diskcache = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
# importlib-xxx are needed for pre-commit on Python 3.6
importlib-metadata = "*"
yapf = "*"
coverage = "*"
