[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
boltons = "*"
blessings = "*"
dataclasses = "==0.6"
diskcache = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
importlib-resources = "*"
packaging = "*"
python-dateutil = "*"
ratelimit = "*"
six = "==1.15.0"
# Python 3.7 compatibility
typing-extensions = "*"

[dev-packages]
bump2version = "*"
coverage = "*"
importlib-metadata = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pyinstaller = "*"
pytest = "*"
pytest-cov = "*"
pytest-forked = "*"
pytest-snapshot = "*"
yapf = "*"

# for vim:
# pip install 'python-language-server[yapf,pyflakes,mccabe]'
# pip install pylint
