[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "==0.6"
six = "==1.15.0"
google-api-python-client = "*"
google-auth-oauthlib = "*"
blessings = "*"
importlib-resources = "*"
appdirs = "*"
diskcache = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
importlib-metadata = "*"
yapf = "*"
coverage = "*"
bump2version = "*"

# for vim:
# pip install 'python-language-server[yapf,pyflakes,mccabe]'
# pip install pylint
