{% block custom_step_name %}
Verify Workbench Instance has custom post-startup or startup scripts
{% endblock custom_step_name %}

{% block custom_success_reason %}
OK! Workbench Instance {instance_name} is not using custom post-startup or startup scripts.
{% endblock custom_success_reason %}

{% block custom_uncertain_reason %}
Workbench Instance {instance_name} has custom post-startup or startup scripts:
- post-startup-script: {post_startup_script}
- startup-script: {startup_script}
- startup-script-url: {startup_script_url}
{% endblock custom_uncertain_reason %}

{% block custom_uncertain_remediation %}
Scripts must ensure:
- Jupyter runs on port 127.0.0.1:8080
- If packages are installed they should not add breaking changes to the Jupyter configuration
{% endblock custom_uncertain_remediation %}
