#############################################################
#        Messages for BGP Down Flap Check                   #
#############################################################
  {% block start_success_reason %}
    Vlan attachments are found in the project.
  {% endblock start_success_reason %}

  {% block start_skipped_reason%}
    Unable to fetch the vlan attachents in {project_id}.
  {% endblock start_skipped_reason %}

  {% block start_skipped_reason_a1%}
    Unable to fetch vlan attachments in region {region} in project {project_id}.
  {% endblock start_skipped_reason_a1 %}

  {% block bgpdown_success_reason %}
    No VLAN attachments have BGP down.
  {% endblock bgpdown_success_reason %}

  {% block bgpdown_failure_reason %}
    The interconnect {interconnect_name} attachment {attachment_name} has BGP down.
  {% endblock bgpdown_failure_reason %}

  {% block bgpdown_failure_reason_a1 %}
    BGP down events are found. Further debugging is needed.
  {% endblock bgpdown_failure_reason_a1 %}

  {% block bgpdown_failure_remediation %}
    Continue next step to check if there are interconnect maintenance events.
  {% endblock bgpdown_failure_remediation %}

  {% block interconnect_maintenance_success_reason %}
    Interconnects with BGP down are in planned maintenance.
  {% endblock interconnect_maintenance_success_reason %}

  {% block interconnect_maintenance_failure_reason%}
    The interconnect {interconnect_name} with BGP down has no planned maintenance.
  {% endblock interconnect_maintenance_failure_reason %}

  {% block interconnect_maintenance_failure_reason_a1 %}
    The Interconnects with BGP down have no planned maintenance.
  {% endblock interconnect_maintenance_failure_reason_a1 %}

  {% block interconnect_maintenance_failure_remediation %}
    Please continue to check router logging. Further debugging is needed.
  {% endblock interconnect_maintenance_failure_remediation %}

  {% block bgpflap_success_reason %}
    No BGP flaps are found.
  {% endblock bgpflap_success_reason %}

  {% block bgpflap_failure_reason%}
    The project {project_id} has BGP flaps with a duration over 60s.
  {% endblock bgpflap_failure_reason %}

  {% block bgpflap_failure_remediation %}
    Please continue to check router logging. Further debugging is needed.
  {% endblock bgpflap_failure_remediation %}

  {% block bgpflap_uncertain_reason%}
    There are BGP flaps with duration less than 60s.
  {% endblock bgpflap_uncertain_reason %}

  {% block bgpflap_uncertain_remediation %}
    Please continue to check if there are cloud router maintenance.
  {% endblock bgpflap_uncertain_remediation %}

  {% block cloud_router_maintenance_success_reason%}
    BGP flaps less than 60s are all caused by Cloud Router maintenance events.
  {% endblock cloud_router_maintenance_success_reason %}

  {% block cloud_router_maintenance_failure_reason%}
    There are BGP flaps less than 60s without Cloud Router maintenance events.
  {% endblock cloud_router_maintenance_failure_reason %}

  {% block cloud_router_maintenance_failure_remediation %}
    Please continue to check router logging. Further debugging is needed.
  {% endblock cloud_router_maintenance_failure_remediation %}
