{% block cluster_network_success_reason %}
The network communication among nodes in cluster {cluster_name} is working.
{% endblock cluster_network_success_reason %}

{% block cluster_network_failure_reason %}
The network communication among nodes in cluster {cluster_name} is blocked.
{% endblock cluster_network_failure_reason %}

{% block cluster_network_failure_remediation %}
Create a firewall rule that meets Dataproc connectivity requirements[1] and apply it to the cluster's VPC network.
Review the documentation[2] for more details.
References:
[1] <https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/network#dataproc_connectivity_requirements>
[2] <https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/network>
{% endblock cluster_network_failure_remediation %}

{% block cluster_network_uncertain_reason %}
The cluster has not been found, it may have been deleted. Skipping the connectivity test.
{% endblock cluster_network_uncertain_reason %}

{% block cluster_network_uncertain_remediation %}
Verify that Dataproc connectivity requirements[1] are satisfied.
References:
[1] <https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/network#dataproc_connectivity_requirements>
{% endblock cluster_network_uncertain_remediation %}

{% block private_google_access_success_reason %}
Google Private Access in subnet: {subnetwork_uri} is enabled.
{% endblock private_google_access_success_reason %}

{% block private_google_access_failure_reason %}
Google Private Access in subnet: {subnetwork_uri} is disabled.
{% endblock private_google_access_failure_reason %}

{% block private_google_access_failure_remediation %}
Dataproc clusters isolated from the public internet require Private Google Access enabled on their subnetwork ({subnetwork_uri}) to allow cluster nodes to access Google APIs and services (e.g., Cloud Storage) using internal IPs [cluster VMs are not assigned public IP addresses](1).
Enable Private Google Access for the subnetwork[2].
References:
[1] <https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/network#create-a-dataproc-cluster-with-internal-IP-addresses-only>
[2] <https://cloud.google.com/vpc/docs/configure-private-google-access>
{% endblock private_google_access_failure_remediation %}
