{% block projectcheck_failure_reason %}
Service Account {service_account} associated with Dataproc cluster was not found in project {project_id} or cross project (if specified).
{% endblock projectcheck_failure_reason %}

{% block projectcheck_failure_remediation %}
Provide the project where the service account resides using the `cross_project` parameter.
{% endblock projectcheck_failure_remediation %}

{% block permission_check_failure_reason %}
Service Account {service_account} associated with Dataproc cluster was not found in project {project_id} or cross project (if specified).
{% endblock permission_check_failure_reason %}

{% block permission_check_failure_remediation %}
Provide the project where the service account resides using the `cross_project` parameter.
{% endblock permission_check_failure_remediation %}
