{% block confirmation_success_reason %}
The SSL certificate "{name}" is in ACTIVE state.
{% endblock confirmation_success_reason %}

{% block confirmation_skipped_reason %}
The SSL certificate "{name}" does not exist or project {project_id} does not exist.
{% endblock confirmation_skipped_reason %}

{% block confirmation_skipped_reason_a1 %}
The certificate "{name}" is self-managed. Self-managed certificates require manual handling for obtaining, provisioning, and renewal. This diagnostic check supports only Google-managed certificates.
{% endblock confirmation_skipped_reason_a1 %}

{% block confirmation_failure_reason %}
The Google-managed SSL certificate "{name}" is not in ACTIVE state.
{% endblock confirmation_failure_reason %}

{% block cert_status_success_reason %}
The Google-managed SSL certificate "{name}" is in {status} state.
{% endblock cert_status_success_reason %}

{% block cert_status_failure_reason %}
The Google-managed SSL certificate "{name}" is in the PROVISIONING_FAILED_PERMANENTLY state. This is a non-recoverable state.
{% endblock cert_status_failure_reason %}

{% block cert_status_failure_remediation %}
Recreate the certificate. Refer to the documentation for instructions on creating SSL certificates.
{% endblock cert_status_failure_remediation %}

{% block cert_status_uncertain_reason %}
The Google-managed SSL certificate "{name}" is in the {status} state. {context}.
{% endblock cert_status_uncertain_reason %}

{% block domain_status_success_reason %}
All domains associated with the SSL certificate "{name}" are in the ACTIVE state. Domain provisioning appears successful.
{% endblock domain_status_success_reason %}

{% block failed_not_visible_domains_failure_reason %}
The following domains are in FAILED_NOT_VISIBLE state: {domains} for SSL certificate "{name}". This usually means the domain's DNS records are not correctly pointing to the load balancer.
{% endblock failed_not_visible_domains_failure_reason %}

{% block provisioning_domains_uncertain_reason %}
The following domains are in PROVISIONING state: {domains} for SSL certificate "{name}".
{% endblock provisioning_domains_uncertain_reason %}

{% block provisioning_domains_uncertain_remediation %}
The provisioning process can take some time. The diagnostic process will continue checking other potential issues while the domains are provisioning.
{% endblock provisioning_domains_uncertain_remediation %}

{% block failed_rate_limited_domains_failure_reason %}
The following domains are in FAILED_RATE_LIMITED state: {domains} for SSL certificate "{name}". This indicates rate limiting by the Certificate Authority. This likely means the allowed number of certificate requests in a short period was exceeded.
{% endblock failed_rate_limited_domains_failure_reason %}

{% block failed_rate_limited_domains_failure_remediation %}
Wait for a while and then check the certificate status again. If the issue persists, contact Google Cloud Support.
{% endblock failed_rate_limited_domains_failure_remediation %}

{% block failed_caa_check_domains_failure_reason %}
The following domains are in FAILED_CAA_CHECKING or FAILED_CAA_FORBIDDEN state: {domains} for SSL certificate "{name}". This indicates misconfigured CAA records. CAA records authorize specific Certificate Authorities to issue certificates for the domain.
{% endblock failed_caa_check_domains_failure_reason %}

{% block failed_caa_check_domains_failure_remediation %}
Ensure the CAA records are configured correctly. Refer to the documentation for instructions on configuring CAA records: <https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa>
{% endblock failed_caa_check_domains_failure_remediation %}

{% block check_certificate_attachment_failure_reason %}
The SSL certificate "{name}" is not attached to any target proxies. Attach the certificate to a target proxy.
{% endblock check_certificate_attachment_failure_reason %}

{% block check_certificate_attachment_failure_remediation %}
Follow the documentation to attach the certificate to a target proxy: <https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#load-balancer>
{% endblock check_certificate_attachment_failure_remediation %}

{% block check_certificate_attachment_success_reason %}
The SSL certificate "{name}" is attached to target proxies ({target_proxies}) that are in use by forwarding rules.
{% endblock check_certificate_attachment_success_reason %}

{% block verify_dns_records_success_reason %}
DNS records for domain {domain} are correctly configured. All resolved IP addresses ({ip_addresses}) point to the load balancer(s) associated with certificate {name}.
{% endblock verify_dns_records_success_reason %}

{% block verify_dns_records_failure_reason %}
DNS records for domain {domain} currently resolve to the following IP addresses: {unresolved_ip_addresses}. These IP addresses do not point to any load balancer associated with certificate {name}. Certificate provisioning is therefore blocked.
{% endblock verify_dns_records_failure_reason %}

{% block verify_dns_records_failure_remediation %}
Configure DNS records for {domain} to point to the correct load balancer IP address(es) for certificate {name}.

The following load balancer IP addresses are associated with this certificate:

{fr_ip_message}

Check: <https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#update-dns>
{% endblock verify_dns_records_failure_remediation %}

{% block verify_dns_records_failure_reason_a1 %}
Domain {domain} does not resolve to any IP addresses. In order to provision the certificate, the domain must resolve to an IP address that points to a load balancer associated with the certificate.
{% endblock verify_dns_records_failure_reason_a1 %}

{% block verify_dns_records_uncertain_reason %}
Some DNS records for domain {domain} resolve to the following unexpected IP address(es): {unresolved_ip_addresses}.  While other records point to the expected IP addresses: {resolved_ip_addresses}. The unexpected IP addresses do not point to any load balancer associated with certificate {name}. This can cause certificate provisioning issues.
{% endblock verify_dns_records_uncertain_reason %}

{% block verify_dns_records_uncertain_remediation %}
Configure DNS records for {domain} to point to the correct load balancer IP address(es) for certificate {name}.

The following load balancer IP addresses are associated with this certificate:

{fr_ip_message}

Check: <https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#update-dns>
{% endblock verify_dns_records_uncertain_remediation %}

{% block verify_forwarding_rules_port_success_reason %}
The SSL certificate "{name}" has forwarding rules configured for HTTPS (port 443) on all associated IP addresses.
{% endblock verify_forwarding_rules_port_success_reason %}

{% block verify_forwarding_rules_port_failure_reason %}
{misconfigured_entities}
There must be at least one load balancer's forwarding rule that uses TCP port 443 for the Google-managed certificate to be initially provisioned and automatically renewed.
{% endblock verify_forwarding_rules_port_failure_reason %}

{% block verify_forwarding_rules_port_failure_remediation %}
Configure the load balancer to listen on port 443 for SSL certificate "{name}".
{% endblock verify_forwarding_rules_port_failure_remediation %}

{% block verify_no_certificate_map_conflict_success_reason %}
All target proxies associated with the SSL certificate "{name}" do not have a certificate map.
{% endblock verify_no_certificate_map_conflict_success_reason %}

{% block verify_no_certificate_map_conflict_failure_reason %}
The following target proxies have a conflicting certificate map:

{conflicting_target_proxies}.

If certificate map is set on a target proxy, the classic SSL certificates are ignored.
{% endblock verify_no_certificate_map_conflict_failure_reason %}

{% block verify_no_certificate_map_conflict_failure_remediation %}
If this configuration is unintended, detach the certificate map from the target proxies.
{% endblock verify_no_certificate_map_conflict_failure_remediation %}

{% block check_provisioning_time_success_reason %}
No recent changes were detected for forwarding rules and target proxies associated with the SSL certificate "{name}".
{% endblock check_provisioning_time_success_reason %}

{% block check_provisioning_time_uncertain_reason %}
The SSL certificate "{name}" has recently had associated resources modified. This might affect DNS validation. Details are below:
{recently_changed}
{% endblock check_provisioning_time_uncertain_reason %}

{% block check_provisioning_time_uncertain_remediation %}
DNS validation automatically checks the domain's A and AAAA records against the Google Cloud load balancer's IP address. This process includes an automatic retry mechanism with increasing wait times. If {name} was recently attached to a target proxy or the target proxy to a forwarding rule, validation could take up to 24 hours to complete.
{% endblock check_provisioning_time_uncertain_remediation %}
