{% block default_success_reason %}
{principal} has expected {permissions_or_roles}.
{present_permissions_or_roles}.
{% endblock default_success_reason %}

{% block default_failure_reason %}
{principal} does not have at least one of the expected {permissions_or_roles}:
{missing_permissions_or_roles}.
{% endblock default_failure_reason %}

{% block default_failure_remediation %}
Grant a role containing the missing permissions by following the instructions in [1].
Refer to [2] for a list of Google Cloud predefined roles.

Note: Consider consulting with project administrators regarding the most appropriate standard or custom role to grant.

[1] <https://cloud.google.com/iam/docs/grant-role-console>
[2] <https://cloud.google.com/iam/docs/understanding-roles>
{% endblock default_failure_remediation %}
