{% block active_success_reason %}
Service account: {sa} is currently in active
{% endblock active_success_reason %}

{% block active_failure_reason %}
Service account: {sa} is deleted
{% endblock active_failure_reason %}

{% block active_failure_remediation %}
Service account: {sa} has been deleted. If you want to restore a deleted service account,
you can undelete it, if it's been
30 days or less since you deleted the service account.
After 30 days, IAM permanently removes the service account. Google Cloud cannot recover the
service account after it is permanently removed, even if you file a support request.
Follow [1] to and [2] to verify service account is deleted.
[1] <https://cloud.google.com/iam/docs/service-accounts-delete-undelete#deleting>
[2] <https://cloud.google.com/iam/docs/service-accounts-delete-undelete#undeleting>
{% endblock active_failure_remediation %}

{% block active_failure_remediation_a1 %}
Service account `{sa}` has been disabled. To re-enable the service account,
follow the steps outlined in [reenabling a service account](https://cloud.google.com/iam/docs/service-accounts-disable-enable#enabling).

To verify if the service account is deleted, refer to [verifying service account status](https://cloud.google.com/iam/docs/service-accounts-disable-enable).
{% endblock active_failure_remediation_a1 %}

{% block active_uncertain_reason %}
Can't find service account {sa}
{% endblock active_uncertain_reason %}

{% block active_uncertain_remediation %}
The service account `{sa}` could not be automatically detected or validated for its status (e.g., active, disabled, or deleted).

- To manually verify the service account, refer to the [documentation for listing and checking service accounts](https://cloud.google.com/iam/docs/service-accounts-list-edit#listing).
- For information on deleted service accounts, see [deleted service account details](https://cloud.google.com/iam/docs/service-accounts-delete-undelete#deleting).
- If the service account was deleted, review [how to undelete a service account](https://cloud.google.com/iam/docs/service-accounts-delete-undelete#undeleting) to recover it if feasible.
{% endblock active_uncertain_remediation %}
