{% block active_step_message %}
Investigating Service Account issues...
{% endblock active_step_message %}

{% block active_success_reason %}
Service account: {sa} to use when exporting logs/metrics
{% endblock active_success_reason %}

{% block active_failure_reason %}
Service account: {sa} is deleted
{% endblock active_failure_reason %}

{% block active_failure_remediation %}
Service account: {sa} has been deleted. If you want to restore a deleted service account,
you can undelete it, if it's been
30 days or less since you deleted the service account.
After 30 days, IAM permanently removes the service account. Google Cloud cannot recover the
service account after it is permanently removed, even if you file a support request.
Follow [1] to and [2] to verify service account is deleted.
[1] https://cloud.google.com/iam/docs/service-accounts-delete-undelete#deleting
[2] https://cloud.google.com/iam/docs/service-accounts-delete-undelete#undeleting
{% endblock active_failure_remediation %}

{% block active_failure_remediation_a1 %}
Service account: {sa} has been disabled. Reenabled the service account.
Follow [1] to reenable the service account and [2] to verify service account is deleted.
[1] https://cloud.google.com/iam/docs/service-accounts-disable-enable#enabling
[2] https://cloud.google.com/iam/docs/service-accounts-disable-enable
{% endblock active_failure_remediation_a1 %}

{% block active_uncertain_reason %}
Can't find service account {sa} in project {project_id}
{% endblock active_uncertain_reason %}

{% block active_uncertain_remediation %}
We couldn't automatically detect service account {sa} and assert if it is active. i.e not
disabled or deleted.

Follow [1] to manually list and check the service account if it has been deleted or disabled.

Follow [2] for more details or deleted service accounts and [3] to undelete if feasible.
[1] https://cloud.google.com/iam/docs/service-accounts-list-edit#listing
[2] https://cloud.google.com/iam/docs/service-accounts-delete-undelete#deleting
[3] https://cloud.google.com/iam/docs/service-accounts-delete-undelete#undeleting
{% endblock active_uncertain_remediation %}
