{% block active_success_reason %}
Service account {sa} is active.
{% endblock active_success_reason %}

{% block active_failure_reason %}
Service account {sa} is deleted.
{% endblock active_failure_reason %}

{% block active_failure_remediation %}
Service account {sa} has been deleted. Deleted service accounts can be undeleted within 30 days of deletion [2]. After 30 days, IAM permanently removes the service account, and it cannot be recovered.
Refer to [1] for details on deleting service accounts and [2] for undeleting them.
[1] <https://cloud.google.com/iam/docs/service-accounts-delete-undelete#deleting>
[2] <https://cloud.google.com/iam/docs/service-accounts-delete-undelete#undeleting>
{% endblock active_failure_remediation %}

{% block active_failure_remediation_a1 %}
Service account `{sa}` is disabled. To re-enable the service account, follow the instructions in [1].

To verify if the service account is deleted, refer to [verifying service account status](https://cloud.google.com/iam/docs/service-accounts-disable-enable).
{% endblock active_failure_remediation_a1 %}

{% block active_uncertain_reason %}
Could not find service account {sa}.
{% endblock active_uncertain_reason %}

{% block active_uncertain_remediation %}
Could not determine the status (e.g., active, disabled, or deleted) for service account `{sa}`.

- To manually verify the service account, refer to the [documentation for listing and checking service accounts](https://cloud.google.com/iam/docs/service-accounts-list-edit#listing).
- For information on deleted service accounts, see [deleted service account details](https://cloud.google.com/iam/docs/service-accounts-delete-undelete#deleting).
- If the service account was deleted, review [how to undelete a service account](https://cloud.google.com/iam/docs/service-accounts-delete-undelete#undeleting) to recover it if feasible.
{% endblock active_uncertain_remediation %}
