{% block default_failure_reason %}
Resource doesn't have the expected value
{% endblock default_failure_reason %}

{% block default_failure_remediation %}
Update the resource to have the expected value
{% endblock default_failure_remediation %}

{% block default_success_reason %}
Resource has the expected value
{% endblock default_success_reason %}
