{% block starts_correctly_failure_remediation %}
The container failed to start. Please check
<https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start>
for the next steps.
{% endblock %}

{% block starts_correctly_failure_reason %}
Container failed to start in service {name}.
{% endblock %}

{% block image_exists_failure_remediation %}
The provided image does not exist. Make sure that it is correct. Try following
quickstart guide and see how to correctly specify image names. <https://cloud.google.com/run/docs/quickstarts>
{% endblock %}

{% block image_exists_failure_reason %}
Provided image {image} does not exist.
{% endblock %}

{% block has_permission_for_image_failure_remediation %}
Please make sure that {sa} has roles/storage.objectViewer role if the image is stored in Container
Registry or roles/artifactregistry.reader if in Artifact Registry. Please note that the role needs to be granted in the
project where the image is stored.
{% endblock %}

{% block has_permission_for_image_failure_reason %}
Cloud Run Service agent {sa} does not have permissions to read image {image}.
{% endblock %}
