{% block default_success_reason %}
The expected good value is present within the checked metric collection.
{% endblock default_success_reason %}

{% block default_failure_reason %}
A known bad value is present within the checked metric collection.
{% endblock default_failure_reason %}

{% block default_failure_remediation %}
Review the metric data in Cloud Monitoring for more details.

Alternatively, run the following Cloud Logging query:

Query:
{query}
{% endblock default_failure_remediation %}

{% block default_uncertain_reason %}
The metric data analysis was inconclusive. Manual investigation using Cloud Logging is recommended.
{% endblock default_uncertain_reason %}

{% block default_uncertain_remediation %}
Review the metric data in Cloud Monitoring for more details.

Alternatively, run the following Cloud Logging query:

Query:
{query}
{% endblock default_uncertain_remediation %}
