{% block failed_streaming_pipeline_job_found_success_reason %}
  Successfully found job {job_id} in region {region}
{% endblock failed_streaming_pipeline_job_found_success_reason %}

{% block failed_streaming_pipeline_job_found_failure_reason %}
  Failed to find job {job_id} in region {region}
{% endblock failed_streaming_pipeline_job_found_failure_reason %}

{% block failed_streaming_pipeline_check_common_errors_success_reason %}
   The Dataflow job state is {state}.
{% endblock failed_streaming_pipeline_check_common_errors_success_reason %}

{% block failed_streaming_pipeline_check_common_errors_failure_reason %}
  Job state for job {job_id} is Failed.
{% endblock failed_streaming_pipeline_check_common_errors_failure_reason %}

{% block failed_streaming_pipeline_check_common_errors_failure_remediation %}
  Refer to the Dataflow Monitoring Interface for the specific error.
  Refer to the common errors documentation [1] to resolve the job errors.

  [1] <https://cloud.google.com/dataflow/docs/guides/common-errors#pipeline_errors>
{% endblock failed_streaming_pipeline_check_common_errors_failure_remediation %}

{% block failed_batch_pipeline_job_found_success_reason %}
  Successfully found job {job_id} in region {region}
{% endblock failed_batch_pipeline_job_found_success_reason %}

{% block failed_batch_pipeline_job_found_failure_reason %}
  Failed to find job {job_id} in region {region}
{% endblock failed_batch_pipeline_job_found_failure_reason %}

{% block failed_batch_pipeline_check_common_errors_success_reason %}
   The Dataflow job state is {state}.
{% endblock failed_batch_pipeline_check_common_errors_success_reason %}

{% block failed_batch_pipeline_check_common_errors_failure_reason %}
  Job state for job {job_id} is Failed.
{% endblock failed_batch_pipeline_check_common_errors_failure_reason %}

{% block failed_batch_pipeline_check_common_errors_failure_remediation %}
  Refer to the Dataflow Monitoring Interface for the specific error.
  Refer to the common errors documentation [1] to resolve the pipeline errors;
  and the checklist at [2] to troubleshoot Batch Job errors.

  [1] <https://cloud.google.com/dataflow/docs/guides/common-errors#pipeline_errors>
  [2] <https://docs.cloud.google.com/dataflow/docs/guides/troubleshoot-slow-batch-jobs#root-cause-batch>
{% endblock failed_batch_pipeline_check_common_errors_failure_remediation %}

{% block quota_exceeded_failure_reason %}
  Quota exceeded errors found for the Dataflow service.
{% endblock quota_exceeded_failure_reason%}

{% block quota_exceeded_failure_remediation %}
  Refer to [1] for guidance on quota limits and how to resolve quota errors.

  [1] <https://docs.cloud.google.com/dataflow/quotas>.
{% endblock quota_exceeded_failure_remediation %}


{% block slow_batch_logs_failure_reason %}
  Error/Warning: {job_error}
{% endblock slow_batch_logs_failure_reason %}

{% block slow_batch_logs_failure_remediation %}
  Hint:{remediation_hint} [1]

  [1] <https://docs.cloud.google.com/dataflow/docs/guides/common-errors>
  [2] <https://docs.cloud.google.com/dataflow/docs/guides/profiling-a-pipeline>
  [3] <https://docs.cloud.google.com/dataflow/docs/guides/troubleshoot-slow-batch-jobs>
{% endblock slow_batch_logs_failure_remediation %}

{% block slow_batch_metric_failure_reason %}
  High resource utilization for CPU and Memory, which may choke throughput
{% endblock slow_batch_metric_failure_reason %}

{% block slow_batch_metric_failure_remediation %}
  Check on CPU and memory utilization [1], if high it may indicate underprovisioning of the pipeline,
  in which case tailor the VM shape to accommodate the pipeline needs e.g. high mem or high cpu workers.
  If both resources are low but throughput is lower than expected,
   - consider profiling the pipeline to identify slow stages [2] e.g. external API,
   - check on wall time to identify stages with long processing time[3],
   - and troubleshoot stage parallelism by monitoring keys [4] e.g. high fanout and hot key stages that may need key redistribution.

  [1] <https://docs.cloud.google.com/dataflow/docs/guides/using-monitoring-intf#resource-metrics>
  [2] <https://docs.cloud.google.com/dataflow/docs/guides/profiling-a-pipeline>
  [3] <https://docs.cloud.google.com/dataflow/docs/guides/step-info-panel#wall-time>
  [4] <https://docs.cloud.google.com/dataflow/docs/guides/troubleshoot-slow-batch-jobs>
{% endblock slow_batch_metric_failure_remediation %}
