{% block dataflow_service_account_success_reason %}
{principal} has expected {permissions_or_roles} in IAM.
{present_permissions_or_roles}.
{% endblock  dataflow_service_account_success_reason %}

{% block  dataflow_service_account_failure_reason %}
{principal} doesn't have at least one of the expected {permissions_or_roles}:
{missing_permissions_or_roles}.
{% endblock  dataflow_service_account_failure_reason %}

{% block  dataflow_service_account_failure_remediation %}
Follow Guide [1] to grant a role which has the correct permissions.

[1] <https://cloud.google.com/dataflow/docs/concepts/security-and-permissions#df-service-account>
{% endblock  dataflow_service_account_failure_remediation %}

{% block dataflow_worker_service_account_success_reason %}
{principal} has expected {permissions_or_roles} in IAM.
{present_permissions_or_roles}.
{% endblock  dataflow_worker_service_account_success_reason %}

{% block  dataflow_worker_service_account_failure_reason %}
{principal} doesn't have at least one of the expected {permissions_or_roles}:
{missing_permissions_or_roles}.
{% endblock  dataflow_worker_service_account_failure_reason %}

{% block  dataflow_worker_service_account_failure_remediation %}
Follow Guide [1] to grant a role which has the correct permissions.

[1] <https://cloud.google.com/dataflow/docs/concepts/security-and-permissions#add-roles>
{% endblock dataflow_worker_service_account_failure_remediation %}

{% block dataflow_cross_project_worker_service_account_success_reason %}
{principal} has expected {permissions_or_roles} in IAM.
{present_permissions_or_roles}.
{% endblock  dataflow_cross_project_worker_service_account_success_reason %}

{% block  dataflow_cross_project_worker_service_account_failure_reason %}
{principal} doesn't have at least one of the expected {permissions_or_roles}:
{missing_permissions_or_roles}.
{% endblock  dataflow_cross_project_worker_service_account_failure_reason %}

{% block  dataflow_cross_project_worker_service_account_failure_remediation %}
Follow Guide [1] to grant a role which has the correct permissions.

[1] <https://cloud.google.com/dataflow/docs/concepts/security-and-permissions#user-managed>
{% endblock dataflow_cross_project_worker_service_account_failure_remediation %}

{% block projectcheck_failure_reason %}
Service Account {service_account} associated with Dataflow Job was not found in project {project_id} or cross project (if specified).
{% endblock projectcheck_failure_reason %}

{% block projectcheck_failure_remediation %}
Provide the project in which the service account resides by using the cross_project/project parameter.
{% endblock projectcheck_failure_remediation %}
